/* Déclaration de police */
/* Quand une police possède plusieurs styles (normal, gras, italique), on déclare chaque version avec un nom légèrement différent et on charge la police correspondante au style */
/* @font-face {
    font-family: "Cardo";
    src: url(../fonts/cardo/cardo-regular.woff) format("woff");
} */
@font-face {
    font-family: "Blacksword";
    src: url(../fonts/Blacksword.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cardo Italic";
    src: url(../fonts/cardo/cardo-italic.woff) format("woff");
}
@font-face {
    font-family: "Cardo Bold";
    src: url(../fonts/cardo/cardo-bold.woff) format("woff");
}

/* GLOBAL */
body {
    background-image: url("../img/bunting.png");
    background-repeat: repeat-x;
    background-color: #fbfaf4;
    color: #555;
    font-family: "Cardo", serif;
    font-size: 1.4em;
    margin: 0 auto;
    max-width: 800px;
    width: 50%;
}

em, i{
    font-family: "Cardo Italic";
}

strong, b{
    font-family: "Cardo Bold";
}

/*la virgule est le sélecteur "ET". Dans notre exemple cela se traduit par h1 et h2 et h3 auront les mêmes propriétés CSS font-family et font-weight */
h1, h2, h3 { 
    font-family: "Blacksword", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2{
    font-size: 2.5em;
    margin: 50px 0 -25px;
    word-spacing: 25px;
}

h3{
    font-size: 1.5em;
    margin: 50px 0 -25px;
    word-spacing: 10px;
}

a {
    color: #f2a1b1;
    text-decoration: none;
}

p {
    line-height: 50px;
    margin: 16px 0;
    text-align: justify;
    text-indent: 25px;
}

/* CITATIONS */
blockquote, q {
    color: #666;
    display: block;
    font-size: 1.6em;
    font-style: italic;
    line-height: 60px;
    margin-top: 3em;
    text-align: center;
}

cite {
    display: block;
    margin-bottom: 3em;
    text-align: right;
}

/* LICENCE */
footer {
    
    padding: 25px;
}

footer img {
    width: 50px;
}

footer p{
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
}
